body {
    font-family: 'Poppins', sans-serif;    margin: 0;
    padding: 0;

}
.header, .middle, .middle-2, .bottom, .gallary {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg {
    background-image:
    linear-gradient(to bottom, rgba(44, 43, 43, 0.5), rgb(5, 5, 5)),
    url('images/donation5.jpg');
    background-repeat: no-repeat;
    background-position: center;    background-size: cover;
    height: 700px;
}
.container {
    width: 60%;
    text-align: center;
}
h1 {
    color: #fff;
    font-size: 65px;
}
.sec-1 p {
    color: #f2f2f2;
    font-size: 18px;
}
a {
    text-decoration: none;
    background: tomato;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 5px;
}

.middle .container {
    width: 70%;
}
h2 {
    font-size: 50px;
    margin-top: 150px;
}
.sec-2 p {
    font-size: 18px;
    color: #555;
    margin-bottom: 100px;
}
.amount {
    margin-bottom: 100px;
}
.amount span {
    background-color: #f1f1f1;
    font-size: 40px;
    padding: 30px 20px;
    border-radius: 5px;
    margin: 0 5px;
} 
.highlight {
    color: rgb(240, 66, 66);
    border: 3px solid rgb(226, 52, 52);
}
.h-line p {
    margin: 0;
}
hr {
    width: 80%;
    margin-bottom: 30px;
    color: gray;
}

.middle-2 .container {
    width: 90%;
}
.middle-2 .boxes {
    display: flex;
    justify-content: center;
}
.middle-2 .box {
    width: 350px;
    height: 400px;
    margin: 0 10px;
    border-radius: 10px;
    text-align: left;
    padding: 30px;
}

.box img {
    margin-top: 50px;
}
h3 {
    font-size: 25px;
}
.box-1 {
    background-color: #f1f1f1;
}
.box-2 {
    background-color: #e4b7b7;
}
.box-3 {
    background-color: #e9f9af;
}


.my-choice {
    margin-top: 50px;
}
.my-choice .container {
    width: 100%;
}

.gallary img {
    width: 40%;
    height: 350px;
    border-radius: 5px;
    margin: 20px;
}

.gallary img:hover {
    box-shadow: 5px 15px 20px 5px rgba(52, 48, 48, 0.808);}
.form {
    background: rgb(255, 204, 204);
    padding: 80px 0;
}
.form input {
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}
.mail {
    background-color: rgb(215, 224, 222);
    padding: 20px 40px;
}
.btn {
    background-color: rgb(255, 71, 71);
    color: #fff;
    padding: 20px 50px;
}
.footer {
    text-align: center;
    background: rgb(4, 8, 51);
}
.footer h2 {
    color: rgb(245, 77, 77);
    padding-top: 50px;
}
.footer p {
    color: #f1f1f1;
    padding-bottom: 50px;
}